strong Количество верхних мест:
= carriage.upper_places
br
strong Количество нижних мест:
= carriage.bottom_places
br
strong Количество верхних боковых мест:
= carriage.slide_upper_places
br
strong Количество нижних боковых мест:
= carriage.slide_bottom_places
