strong Количество верхних мест:
= carriage.upper_places
br
strong Количество нижних мест:
= carriage.bottom_places
br
strong Количество верхних боковых мест:
= carriage.side_upper_places
br
strong Количество нижних боковых мест:
= carriage.side_bottom_places
